.currentWeatherData {
  position: relative;
  top: -2px;
  box-shadow: 0 10px 10px rgb(177, 170, 170);;
}

.text-pico-danger {
  color: rgb(229, 57, 53);
}

.text-cyan {
  color: #00acc1;
}

.mt-2-3rem {
  margin-top: 2.3rem;
}

.pt-4rem {
  padding-top: 4rem !important;
}

.custom-link {
  text-decoration: unset;
  color: rgb(65, 84, 98);
}

form i.passwordToggle {
  margin-left: -53px;
  cursor: pointer;
}

form i.passwordToggle img {
  width: 24px;
  height: 24px;
  margin-bottom: 1px;
  cursor: pointer;
}

form#register input, form#login input {
  background-image: unset !important;
}