.weatherForecast-container {
  max-width: 725px !important;
}

.weatherIcon {
  background-color: #a5a5a5 !important;
}

.weatherForecast-container div {
  padding: 8px 5px;
}

.weatherForecast-container div:not(:first-child) {
  margin-top: 20px;
}
